body {
  margin: 0;
  background-color: #00adb5;
  line-height: 1.5;
  font-family: 'Hachi Maru Pop', cursive;
  text-align: center;
  color: #eee;
}

/*Top Section*/
.top-section{
  padding: 6rem 0;
  background-color: #eeeeee;
  position: relative;
  box-shadow: 0px 0px 29px 5px white;
}

.card-gif  {
  max-width: 50%;
  height: auto;
}

/*body section*/
.body-section {
  padding: 3rem 0;
  max-width: 66%;
}

.reset-box {
  padding: 3rem 0;
}
